.title {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 8rem 0 0 0;
   gap: 0.2rem;
   color: var(--primary);
   font-size: 2rem;
}

.nav {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 1.5rem;
   margin: 4rem 0 0 0;
}

.button {
   background-color: var(--primary);
   border-radius: 0.5rem;
   padding: 0.8rem;
   border: none;
   color: var(--text-over-primary);
   transition: 0.4s;
}

.button:hover {
   background-color: var(--primary-dark);
   cursor: pointer;
}

.icon {
}
